@import '../node_modules/currency-flags/dist/currency-flags.min.css';

header {
	color: pink;
}

.app {
	width: 1000px;
	margin: 0 auto;
}

td,
th {
	border: 1px solid #999;
}

tr {
	font-size: 1.2rem;
}
